{% extends "base.html" %}

{% block content %}

<h2>Edit Task</h2>

<form method="POST">
    <input type="text" name="title" value="{{ task.title }}" required>
    <input type="text" name="description" value="{{ task.description }}">
    
    <select name="status">
        <option value="Pending" {% if task.status == "Pending" %}selected{% endif %}>Pending</option>
        <option value="In Progress" {% if task.status == "In Progress" %}selected{% endif %}>In Progress</option>
        <option value="Completed" {% if task.status == "Completed" %}selected{% endif %}>Completed</option>
    </select>

    <button type="submit">Save</button>
</form>

{% endblock %}
